<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col">
                <img 
                    src="../../../assets/images/logo.png" 
                    alt="Company logo" 
                    height="75" 
                    width="50"
                />
            </div>
            <div class="col text-center align-self-center">
                <span class="header-title">GRUPO AWS</span>
            </div>
            <div class="col text-right align-self-center">
                <span class="material-icons md-60" style="color:#00246d;">account_circle</span>
            </div>
        </div>
    </div>
</nav>