<div class="container-login">
    <div class="row">
       <div class="col">   
            <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" class="form">
                <div class="login-form">
                    <img 
                        src="../../../assets/images/logo.png" 
                        alt="Company logo" 
                        height="75" 
                        width="50"
                        class="mb-3"
                    />
                    <div class="form-group w-50">
                        <span class="login-form-title">Faça Seu Login</span>
                        <input 
                            type="email"
                            id="email"
                            class="form-control mt-3"
                            name="email"
                            ngModel
                            required
                            email
                            placeholder="Email"
                        />
                        <div class="alert alert-danger mt-3" *ngIf="error">
                            {{ error }}
                        </div>
                        <div class="my-3">
                            <button class="btn-form">Login</button>
                        </div>  
                        <span class="material-icons md-18 lock-icon">lock</span>
                        <span class="no-access-text">Não Tenho Acesso</span>
                    </div>
                </div>
            </form>
       </div>
       <div class="col align-self-center">
           <img src="../../../assets/images/group7.png" alt="People" width="450" height="450" />
       </div>
    </div>
</div>