.dashboard-container {
    width: 1200px;
    height: 500px;
    margin-top: 40px;
    border: 2px solid #00246d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.dashboard-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #00246d;
}

.search-input {
    width: 300px;
    border-radius: 25px;
    border: 1.5px solid #dee2e6;
    padding: 5px;
    height: 28px;
    margin-top: 10px;
}

.title-border {
    border-top: 1px solid #dee2e6;
    margin: 10px 0 30px 0;
}

.blue-color {
    color: #00246d;
}

.btn-column {
    display: flex;
    justify-content: space-evenly;
}

.icon-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.dashboard-btn {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.btn-options {
    border-radius: 8px;
    background-color: #00246d;
    border: none;
    color: white;
    padding: 5px 15px;

}

.red-background {
    background-color: #9d192c;
}

.red-color {
    color: #9d192c;
}

.modal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #00246d;
    margin-bottom: 25px;
}

.modal-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.table-scroll {
    height: 1800px;
    overflow: auto;
}